@use "../../../variables";

%button {
	width: 100%;
	min-height: 46px;
	border-style: none;
	border-radius: 0.5rem;
	font-weight: 700;
	cursor: pointer;
}

.button_primary {
	@extend %button;
	color: variables.$white;
	background-color: variables.$purple;

	&:hover {
		background-color: variables.$purple-hover;
	}

	&:disabled {
		background-color: variables.$purple-light;
		cursor: not-allowed;
	}
}

.button_secondary {
	@extend %button;
	border: 1px solid variables.$purple;
	background-color: inherit;
	color: variables.$purple;

	&:hover {
		background-color: variables.$purple-light;
	}

	&:disabled {
		background-color: variables.$purple-light;
		border-color: variables.$purple-hover;
		color: variables.$purple-hover;
		cursor: not-allowed;
	}
}

.project_button {
	@extend %button;

	align-items: center;
	background-color: variables.$black;
	color: variables.$white;
	display: flex;
	font-weight: 400;
	justify-content: space-between;
	padding-left: 1rem;
	padding-right: 1rem;
	text-transform: capitalize;

	* {
		color: variables.$white;
	}
}
